<template>
  <DataDisplay />
</template>

<script>
import DataDisplay from '@/components/DataDisplay.vue'
import { provide } from "vue";
export default {
  name: 'App',
  components: {
    DataDisplay
  },
  setup() {
    provide('language', 'en')
    provide('csrf_token', 'xxxxxxxxxxx')
    provide('endpoint', '')
    provide('enable_exports', '')
  }
}
</script>

<style>

</style>
